{% extends "base.html" %}

{% block title %}
  Listagem de Produtos | {{block.super}}
{% endblock  %}

{% block container %}

{% load static %}

<div class="page-header">
  <h1>Produtos</h1>
</div>
<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <a href="#">
        <img src="{% static '279713.jpeg' %}"/>
      </a>
      <div class="caption">
        <h3>Motorola Moto G5</h3>
        <p>O Moto G5S é o novo celular da Motorola com lançamento em agosto de 2017. O smartphone, que é uma edição especial, tem o corpo todo de metal e não possui bateria removível, ao contrário do Moto G5 que era feito de alumínio e plástico. A tela aumentou e agora tem 5,2 polegadas, com resolução Full HD.</p>
        <p><a href="#" class="btn btn-success" role="button">Alugar</a> <a href="#" class="btn btn-default" role="button">Ficha Técnica</a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
        <a href="#">
          <img src="{% static '347306.jpeg' %}" alt="" />
        </a>
        <div class="caption">
          <h3>Xiaomi Mi A2 Lite</h3>
          <p>O Xiaomi Mi A2 Lite é um celular anunciado em julho de 2018 e sem previsão de preço e lançamento no Brasil. O smartphone tem tela de 5,84 com resolução de 2280 x 1080 pixels com notch, que abriga a câmera de selfies de 5 megapixels. A câmera traseira é dupla, de 12 e 5 megapixels.</p>
          <p><a href="#" class="btn btn-success" role="button">Alugar</a> <a href="#" class="btn btn-default" role="button">Ficha Técnica</a></p>
        </div>
        </div>
  </div>
  <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
        <a href="#">
          <img src="{% static '196873.jpeg' %}" alt="" />
        </a>
        <div class="caption">
          <h3>Samsung Galaxy J5 Prime</h3>
          <p>O Galaxy J5 Prime é um celular intermediário da Samsung, sucessor do Galaxy J5 Metal, com lançamento no Brasil em junho de 2017 pelo preço de R$ 999. O smartphone roda Android 6.0 Marshmallow e possui tela de 5 polegadas, com resolução HD (1280 x 720 pixels).</p>
          <p><a href="#" class="btn btn-success" role="button">Alugar</a> <a href="#" class="btn btn-default" role="button">Ficha Técnica</a></p>
        </div>
        </div>
    </div>
</div>
{% endblock  %}
